<div id="city-buttons-container" class="ml-8 space-y-2">
       <div class="uk-flex uk-flex-left uk-flex-middle space-x-4" id="citybutton-13">
         <div class="flex flex-col">
<button hx-trigger="click" hx-get="/change-city/13" type="submit" hx-vals="js:{zoom: get_zoom()}" hx-target="#city-buttons-container" class="uk-button w-fulltext-left justify-start hover:bg-muted w-52 bg-slate-50">             <div class="w-full">
               <div class="uk-flex uk-flex-left uk-flex-middle text-gray-400">Tucson, AZ</div>
               <div class="w-full flex">
                 <div class="h-1 bg-blue-200" style="width: 0%"></div>
                 <div class="h-1 bg-emerald-400" style="width: 1%"></div>
                 <div class="h-1 bg-blue-200" style="width: 99%"></div>
               </div>
             </div>
</button>         </div>
       </div>
       <div class="uk-flex uk-flex-left uk-flex-middle space-x-4" id="citybutton-14">
         <div class="flex flex-col">
<button hx-trigger="click" hx-get="/change-city/14" type="submit" hx-vals="js:{zoom: get_zoom()}" hx-target="#city-buttons-container" class="uk-button w-fulltext-left justify-start hover:bg-muted w-52 bg-slate-50">             <div class="w-full">
               <div class="uk-flex uk-flex-left uk-flex-middle text-gray-400">Gadsden, AZ</div>
               <div class="w-full flex">
                 <div class="h-1 bg-blue-200" style="width: 1%"></div>
                 <div class="h-1 bg-emerald-400" style="width: 25%"></div>
                 <div class="h-1 bg-blue-200" style="width: 74%"></div>
               </div>
             </div>
</button>         </div>
       </div>
       <div class="uk-flex uk-flex-left uk-flex-middle space-x-4" id="citybutton-15">
         <div class="flex flex-col">
<button hx-trigger="click" hx-get="/change-city/15" type="submit" hx-vals="js:{zoom: get_zoom()}" hx-target="#city-buttons-container" class="uk-button w-fulltext-left justify-start hover:bg-muted w-52 bg-slate-50">             <div class="w-full">
               <div class="uk-flex uk-flex-left uk-flex-middle text-gray-400">Cambridge, MA</div>
               <div class="w-full flex">
                 <div class="h-1 bg-blue-200" style="width: 27%"></div>
                 <div class="h-1 bg-emerald-400" style="width: 10%"></div>
                 <div class="h-1 bg-blue-200" style="width: 63%"></div>
               </div>
             </div>
</button>         </div>
       </div>
       <div class="uk-flex uk-flex-left uk-flex-middle space-x-4" id="citybutton-16">
         <div class="flex flex-col">
<button hx-trigger="click" hx-get="/change-city/16" type="submit" hx-vals="js:{zoom: get_zoom()}" hx-target="#city-buttons-container" class="uk-button w-fulltext-left justify-start hover:bg-muted w-52 bg-slate-50">             <div class="w-full">
               <div class="uk-flex uk-flex-left uk-flex-middle text-gray-400">Oakland, CA</div>
               <div class="w-full flex">
                 <div class="h-1 bg-blue-200" style="width: 37%"></div>
                 <div class="h-1 bg-emerald-400" style="width: 1%"></div>
                 <div class="h-1 bg-blue-200" style="width: 62%"></div>
               </div>
             </div>
</button>         </div>
       </div>
       <div class="uk-flex uk-flex-left uk-flex-middle space-x-4" id="citybutton-17">
         <div class="flex flex-col">
<button hx-trigger="click" hx-get="/change-city/17" type="submit" hx-vals="js:{zoom: get_zoom()}" hx-target="#city-buttons-container" class="uk-button w-fulltext-left justify-start hover:bg-muted w-52 bg-slate-50">             <div class="w-full">
               <div class="uk-flex uk-flex-left uk-flex-middle text-gray-400">Los Angeles, CA</div>
               <div class="w-full flex">
                 <div class="h-1 bg-blue-200" style="width: 39%"></div>
                 <div class="h-1 bg-emerald-400" style="width: 51%"></div>
                 <div class="h-1 bg-blue-200" style="width: 10%"></div>
               </div>
             </div>
</button>         </div>
       </div>
       <div class="uk-flex uk-flex-left uk-flex-middle space-x-4" id="citybutton-18">
         <div class="flex flex-col">
<button hx-trigger="click" hx-get="/change-city/18" type="submit" hx-vals="js:{zoom: get_zoom()}" hx-target="#city-buttons-container" class="uk-button w-fulltext-left justify-start hover:bg-muted w-52 bg-slate-50">             <div class="w-full">
               <div class="uk-flex uk-flex-left uk-flex-middle text-gray-400">Joshua Tree, CA</div>
               <div class="w-full flex">
                 <div class="h-1 bg-blue-200" style="width: 90%"></div>
                 <div class="h-1 bg-emerald-400" style="width: 10%"></div>
                 <div class="h-1 bg-blue-200" style="width: 0%"></div>
               </div>
             </div>
</button>         </div>
       </div>
     </div>
